<%- include ("./partials/header") -%>

<h1>Compose</h1>

<form action="/" method="post">
    <h4>Title</h4>
    <input type="text" name="title" id="" class="form-control" autocomplete="off">
    <h4>Content</h4>
    <textarea class="form-control" 
    name = "content"
    placeholder="Write a blog over here..."></textarea>
    <br>
    <button class="btn btn-success" type="submit" onclick="" >Submit</button>

</form>

<%- include ("./partials/footer") -%>